body {
  margin: 0;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

div,
section,
header,
footer,
p,
h1,
h2 {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}



/*  */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);


h1, p, h2, h3, h4, ul, li, div {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: Roboto;
}

.loading-page {
  background: #0d0d0d;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-page .counter {
  text-align: center;
}

.loading-page .counter p {
  font-size: 40px;
  font-weight: 100;
  color: #eed783;
}

.loading-page .counter .notice {
  font-size: 12px;
  display: block;
  padding-top: 20px;
  color: #eed783;
}


.loading-page .counter h1 {
  color: white;
  font-size: 60px;
  margin-top: -10px;
}

.loading-page .counter hr {
  background: #eed783;
  border: none;
  height: 1px;
}

.loading-page .counter {
  position: relative;
  width: 200px;
}

.loading-page .counter h1.abs {
  position: absolute;
  top: 0;
  width: 100%;
}

.loading-page .counter .color {
  width: 0px;
  overflow: hidden;
  color: #f6cb0d;
}
/*  */

@media screen and (max-width: 1919px) {
  img {
    width: auto;
  }
  .step2 {
    flex-direction: column;
  }
}

.global-width {
  font-family: "Gowun Batang", serif;
  line-height: 1.7rem;
  max-width: 80%;
  margin: 0 auto;
  padding: 0 1rem;
}

.scroll-graphic {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-x: hidden;
}

.graphic-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
  will-change: opacity;
}

.visible {
  opacity: 1;
}

.scroll-text {
  position: relative;
  padding-bottom: 1px;
}

.step {
  margin-bottom: 60vh;
  padding: 0.5rem 1rem;
}
.step p {
  word-break: keep-all;
  font-family: "Song Myung", serif;
  line-height: 3.2rem;
  text-align: center;
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.7);
}

.step2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step2 > img,
.step2 > p {
  width: 50%;
}

.scene-img {
  max-height: 100vh;
  object-fit: cover;
}

.book {
}

.star {
  position: absolute;
  left: 20%;
  bottom: 70%;
  width: 100px;
}

.twinkle {
  animation: twinkle 3s 0.5s alternate infinite ease-in;
}
@keyframes twinkle {
  10% {
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.twinkle2 {
  animation: twinkle2 2s 0.5s alternate infinite ease-in;
}
@keyframes twinkle2 {
  30% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
}

.star_lonely {
  width: 300px;
  left: 70%;
  bottom: 30%;
}

.swing {
  animation: swing 2s alternate 0.5s infinite;
}
@keyframes swing {
  10% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.comet {
  width: 70%;
  left: 35%;
  bottom: 60%;
}

.falling {
  animation: falling 3s alternate infinite linear;
}
@keyframes falling {
  10% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

.star_big {
  left: 10%;
  bottom: 80%;
}

.global-footer {
  font-family: "Gowun Batang", serif;
  font-size: 0.7rem;
  line-height: 1.5em;
  padding: 2rem 0;
  text-align: center;
}

.normal-content {
  padding: 100px 0;
}

.music_control {
  /* position: sticky; */
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 10;
}

.music_control i {
  font-size: 2rem;
}
